{% include "header.html" %}
        <h1>WELCOME TO KUSINA</h1>
        <h1>Products</h1>
        <table> <tr><th>Code</th><th>Name</th><th>Price</th></tr>
        <tr><td><a 
            href="productdetails?code=100">100</a></td><td>Beef Tapa</td><td>110</td></tr>
                <tr><td><a
                     href="productdetails?code=200">200</a></td><td>Pork Sisig</td><td>100</td></tr>
                <tr><td><a
                     href="productdetails?code=300">300</a></td><td>Garlic Chicken</td><td>100</td></tr>
                <tr><td><a
                     href="productdetails?code=400">400</a></td><td>Pork Liempo</td><td >100</td></tr>
        </table> 


    <a href="/stalls">Back</a>
{% include "footer.html" %}